*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu desplegable */
.nav-bar{
   background: #E38646;
   padding: 20px;
   display: flex;
   color: white;
   gap: 15px;
   cursor: pointer;
   font-size: 1.5em;
   width: 100%;
   align-items: center;
}



.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    background: #E38646;
    width: 100%;
    display: none;
    transition: all 0.3s;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    display: block;
    padding: 20px;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
}

.submenu .menu-link:hover{
    background: #222;
}

.menu-link:hover {
    background: #444;
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu .menu-link {
    background: #333;
    padding-left: 40px;
}

.mostrar {
    display: block;
}

.container-logo{
    display: none;
}

.anuncio {
    width: 100%;

}
.anuncio{
    padding-top: 0px;
    display: flex;
    justify-content: center;
}
.img-responsive{
    width: 100%;
    max-width: 750px;
    height: auto;
}
#logo-duplicado-raro{
    margin-left: 25px;
    display: none;
}

@media all and (min-width:1024px) {
    .nav-bar {
        display: none;
    }
    .anuncio {
        padding-top: 66px;
    }
    #logo-duplicado-raro{
        display: inline;
    }
    .menu {
        margin-left: 0;
        display: flex;
        position: fixed;
    }
    .container-submenu {
        position: relative;
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 155.8px;
        overflow: visible;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
}








.nota{
    background-color: brown;
}

.promocion{}



/* Footer */

.footer .columna1{}

.footer .columna2{}

.footer .columna3{}

.footer .columna4{}



