* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

:root {
    --ticket-height: 60px;
    --color-blue: lightblue;
    --color-orange: salmon;
    --color-green: greenyellow;
}

body {
    /* background-color: #F1F1F1;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */

    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.header {
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 56px;
    background-color: rgb(246, 216, 216);
    border-bottom: 1px solid lightgray;
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
    -moz-box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
    box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
}

.ml-15 {
    margin-left: 15px;
}

.menu-desktop {
    display: flex;
    z-index: 9999;
    gap: 15px;
    margin-right: 15px;
}

.menu-item-nuevo {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration-line: none;
    padding: 2px;
    transition: all 0.3s;
}
.menu-item-nuevo-dos {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.4em;
    text-decoration-line: none;
    padding: 2px;
    transition: all 0.3s;
}

.menu-item-nuevo-dos:hover {
    background: #E38646;
    border-radius: 7px;
}

.menu-item-nuevo:hover {
    background: #E38646;
    border-radius: 7px;
}


.container-logo {
    display: none;
}

.contenido {
    padding-top: 66px;
}

.anuncio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-responsive {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.botones-y-logo {
    display: flex;
    gap: 15px;
    margin-left: 15px
}

.boton-hamburguesa {
    display: none;
    cursor: pointer;
}

.menu-mobile {
    z-index: 999;
    width: 100%;
    position: fixed;
    margin-top: 66px;
    padding-top: 15px;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 216, 216);
    padding-bottom: 15px;
    transition: 0.5s;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
    -moz-box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
    box-shadow: 0px 10px 15px -10px rgba(110, 110, 110, 0.81);
}

.show {
    transition: 0.5s;
    display: flex;
}

.nota {
    background-color: ;
    color: rgb(219, 203, 218);
    border: 3px solid rgb(246, 216, 216);
    

    display: flex;
    font-size: 1.6em;
    justify-content: center;
    /* padding: 15px; */
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: 'Open Sans', sans-serif;
}

/* Login / Registro */


.container-global-logreg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 10px;

    /* background: #092756; */
    
    /* background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 ); */
}


.container-login {
width: 100%;
height: 100%;
display: flex;
justify-content: center;

font-family: "Open Sans", sans-serif;

}

.login {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;


width: 70%;
height: 300px;
}

.login h1 {
color: #fff;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
letter-spacing: 1px;
text-align: center;
}



.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: 0.3em;
  }
  .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
  }
  .btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }
  .btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }
  .btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
  }
  .btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
  }
  .btn-block {
    width: 100%;
    display: block;
  }
  
  
  input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
      0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
  input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
      0 1px 1px rgba(255, 255, 255, 0.2);
  }
  
  

/* Promociones */

.promociones {
    min-height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.img-promo{
    position: relative;
}

.dorsal {
    opacity: 1;
   z-index: 10;
}

.frente{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    
    opacity: 1;
    transform:translateZ(1) scale(1.5);
    transition: all .5s ease;
}
.frente:hover  {
    opacity: 0;
    transform:translateZ(1) scale(1);
}


.section-prices {
    padding: 1.5rem 1rem;
}

.section-prices .section-header {
    background-color: rgb(246, 216, 216);
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #555;
    font-weight: 700;
    box-shadow: 0 10px 35px -10px rgba(0, 0, 0, .3);
}

.list-boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-boxs .card {
    width: 32%;
    text-align: center;
    position: relative;
    max-width: 300px;
}

.list-boxs .card .head,.list-boxs .card .body {
    background-color: rgb(246, 216, 216);
    padding: 1.5rem 1rem;
}

.list-boxs .card .head {
    color: #333;
    font-size: 1.2rem;
    text-transform: uppercase;
    transform: translateY(30px);
    transition: transform .3s linear;
    border-bottom: 1px solid #F2F2F2;
}

.list-boxs .card:hover .head {
    transform: translateY(0);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
}

.list-boxs .card .ticket {
    color: #FFF;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    height: var(--ticket-height);
    box-shadow: inset 0px 6px 6px -5px rgba(0, 0, 0, .25), inset 0px -6px 6px -5px rgba(0, 0, 0, .25);
}

.list-boxs .campera .ticket {
    background-color: var(--color-green);
}

.list-boxs .jean .ticket {
    background-color: var(--color-blue);
}

.list-boxs .camisa .ticket {
    background-color: var(--color-orange);
}

.list-boxs .card .body {
    transform: translateY(-30px);
    transition: transform .3s linear;
}

.list-boxs .card:hover .body {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.list-boxs .card p {
    font-size: .95rem;
    color: #333;
    text-align: justify;
}

.list-boxs .card .btn {
    margin-top: 2rem;
    padding: .6rem 1rem;
    outline: none;
    font-size: .85rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    min-width: 160px;
    border: 1px solid #555;
    background-color: #555;
    color: #333;
    cursor: pointer;
    transition: all .2s linear;
}

.list-boxs .card .btn:hover {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .15);
}

.list-boxs .campera .btn {
    background: var(--color-green);
    border-color: var(--color-green);
}

.list-boxs .jean .btn {
    background: var(--color-blue);
    border-color: var(--color-blue);
}

.list-boxs .camisa .btn {
    background: var(--color-orange);
    border-color: var(--color-orange);
}

/* Formulario */

.container-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.contacto {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: rgb(182, 195, 233);
}
#mensaje {
    resize: none;
    min-height: 150px;
}
.msje{
    display:flex;
    flex-direction: column;
}

.colocar_mensaje {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: rgb(182, 195, 233);
}



/* Ayuda */
.ayuda{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}
.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ca6868;
    padding: 10px;
    margin: 10px;
}



.link {
    text-decoration-line: none;
    color: rgb(182, 195, 233);
    cursor: pointer;
    transition: all 0.3s;
}
.link:hover{
    background: #E38646;
    color: black;
    border-radius: 8px;
}

/* Footer */

.container-rrss {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.span {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: rgb(246, 216, 216);
}


/* media query promociones */
@media screen and (max-width: 750px) {
    .list-boxs {
        justify-content: space-around;
    }
    .list-boxs .card {
        width: 45%;
    }
}

@media screen and (max-width: 550px) {
    .list-boxs .card {
        width: 95%;
    }
}


/* Media */
@media all and (max-width: 768px) {
    .menu-item-nuevo {
        display: none;
    }
    .boton-hamburguesa {
        display: inline;
        cursor: pointer;
    }
    .container-global-logreg{
        flex-direction: column;
    }
}